<style>
    .box_a {
        border: 2px solid #363636;
        color: #4e4e4e;
        text-align: center;
        border-radius: 15px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
</style>


<%- include("partials/header"); -%>
    <h1>About</h1>

    <h4 style="text-align: center; margin-top: 20px;">Group M</h4>
    <div class="box_a">

        <h4>Naveen Kumar Gautam | LIT2020062</h4>
        <h4>Anand Kumar | LIT2020063</h4>
        <h4>Shivam Chandra | LIT2020064</h4>
        <h4>Subrat Yeeshu | LIT2020065</h4>
        <h4>Yash Verma | LIT2020066</h4>
        <p>

    </div>
    <%=aboutContent %>
        </p>
        <%- include("partials/footer"); -%>