<style>
    .contact {
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: large;
    }
</style>

<%- include("partials/header"); -%>
    <h1>Contact Us</h1>
    <div class="contact">

        <a href="mailto:lit2020062@iiitl.ac.in">Naveen Kumar Gautam</a>.<br>
        <a href="mailto:lit2020063@iiitl.ac.in">Anand Kumar</a>.<br>
        <a href="mailto:lit2020064@iiitl.ac.in">Shivam Chandra</a>.<br>
        <a href="mailto:lit2020065@iiitl.ac.in">Subrat Yeeshu</a>.<br>
        <a href="mailto:lit2020066@iiitl.ac.in">Yash Verma</a>.<br>
        <p>
            <%=contactContent %>
        </p>

    </div>
    <%- include("partials/footer"); -%>